/** General **/
:root {
    --primary: #00D4C6;
    --dark: #0F0F0F;
    --light: #F0F0F0;
    --grey: #626262;
    --white: #FFFFFF;
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Inter', sans-serif;
}

body {
    font-family: var(--font-text);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    padding: 50px 0;
}

p,
span,
li,
a {
    font-family: var(--font-title);
}

.button {
    background: var(--primary);
    padding: 14px 32px;
    border-radius: 10px;
    font-family: var(--font-text);
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    opacity: 0.85;
    transform: scale(1.05);
}


* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ol,
ul {
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
    margin-top: 80px;
    line-height: 1;
}

.container {
    max-width: 1270px;
    padding: 0 40px;
    margin: 0 auto;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--dark);
    color: var(--white);
    box-shadow: 2px 2px 2px rgb(240, 240, 240);
    z-index: 1000;
}

.topbar .container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-name {
    font-family: var(--font-title);
    font-size: 1.7em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    word-spacing: .2em;
}

.animated-flash {
    position: relative;
    display: inline-block;
    animation: glowPulse 2.8s ease-in-out infinite,
        scalePulse 3.5s ease-in-out infinite;
    color: #00ffd5;
}

.special {
    color: var(--primary);
    font-weight: 700;
}

.topbar-links {
    max-width: 500px;
    width: 500px;
}

.topbar-links ul {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.topbar-links ul a {
    position: relative;
    padding-bottom: 4px;
}

.topbar-links ul a:hover {
    color: var(--primary);
    font-weight: 700;
}

.topbar-links ul a::before,
.topbar-links ul a::after {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--primary);
    width: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.topbar-links ul a::before {
    left: 0;
}

.topbar-links ul a::after {
    right: 0;
}

.topbar-links ul a:hover::before,
.topbar-links ul a:hover::after {
    width: 50%;
}

/*** Navigation sur phone ***/
.menu-toggle {
    display: none;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: none;
    border: 1px solid var(--grey);
    box-shadow: 2px 2px 4px var(--grey);
    padding: 2px;
    z-index: 2000;
}

.burger-icon {
  display: block;
}

.menu-toggle.open .burger-icon {
    display: none;
}

.menu-toggle.open .close-icon {
    display: block;
}

.footer {
    background: var(--light);
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

ol,
ul {
    padding: 0;
    margin: 0;
}


/** L'animation avec le JS **/
.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0 !important;
    transform: translateY(30px) !important;
    transition: 0s !important;
}

.reveal-loaded [class*="reveal-"] {
    transition: .8s cubic-bezier(.5, 0, 0, 1);
}

.reveal-loaded .reveal-1 {
    transition-delay: .1s;
}

.reveal-loaded .reveal-2 {
    transition-delay: .2s;
}

.reveal-loaded .reveal-3 {
    transition-delay: .3s;
}

.reveal-loaded .reveal-4 {
    transition-delay: .4s;
}

@media (prefers-reduced-motion: reduce) {
    .reveal [class*="reveal-"] {
        opacity: 1 !important;
        transform: translateY(0px) !important;
    }

    [class*="reveal-"] {
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}


/** First section **/
.hero {
    padding: 80px 0;
}

.hero .container {
    font-size: 2.5em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hero-text {
    max-width: 700px;
}

.hero-text p {
    margin-bottom: 25px;
}

.hero-button {
    border: 0;
    text-align: center;
    font-size: 1.5rem;
}

.hero-img img {
    max-width: 370px;
    width: 100%;
}

.about {
    background: var(--light);
    font-size: 1.1em;
    padding: 0 0 60px 0;
    border-bottom: 2px solid var(--grey);
}

.about-both {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-text {
    max-width: 700px;
}

.about-text p {
    margin-top: -5px;
    line-height: 1.5em;
}

.about-text a {
    margin-top: -8px;
    display: inline-block;
    font-weight: 500;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--primary);
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    height: auto;
}

.my-projets {
    padding-bottom: 80px;
}

.projets {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.projet {
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    max-width: 650px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    transition: transform .3s ease, box-shadow .3s ease;
}

.projet:hover {
    transform: translateY(-8px);
    border: 1px solid rgba(0, 0, 0, 0.274);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.342);
}

.projet .button {
    font-size: 1.1rem;
    padding: 8px 30px;
}

.skills {
    background: var(--light);
    padding-bottom: 120px;
}

.skills h2 {
    color: var(--dark);
    font-weight: 700;
}

.skill-both {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.soft,
.hard {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background: var(--white);
    padding: 25px;
    width: 550px;
    min-height: 250px;

}

.soft h3,
.hard h3 {
    text-align: center;
    font-weight: 700;
    margin-top: 0;
}

.skill {
    font-size: 0.9rem;
}

.skill div {
    width: 90%;
    height: 12px;
    border-radius: 10px;
    background: var(--light);
    margin: 2px 0 0px 0;
}

.skill div div {
    height: 12px;
    border-radius: 10px;
    background: var(--primary);
    margin: 0;
}

.gestion div {
    width: 70%;
}

.adap div {
    width: 75%;
}

.html div {
    width: 98%;
}

.css div {
    width: 95%;
}

.js div {
    width: 78%;
}

.vs div {
    width: 82%;
}

.contact {
    background: var(--dark);
    color: var(--white);
    text-align: center;
    padding: 40px 0;
}

.contact h2 {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.contact h3 {
    font-size: 1.9rem;
    font-weight: 400;
    margin-top: 5px;
}

.contact .special {
    font-weight: inherit;
}

.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 500px;
    margin: 0 auto;
}

.names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.name,
.firstname,
.sujet {
    display: flex;
    flex-flow: column;
    align-items: start;
    width: 100%;
}

#name,
#firstname,
#sujet {
    height: 25px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary);
    margin-top: 2px;
}

.message {
    min-height: 230px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary);
    margin-top: 2px;
}

.contact .button {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px 25px;
    border: 1px solid var(--primary);
}


/** Key frame **/
/* Glow fort mais propre */
@keyframes glowPulse {

    0%,
    100% {
        text-shadow: 0 0 6px rgba(0, 255, 213, 0.6),
            0 0 14px rgba(0, 255, 213, 0.4),
            0 0 22px rgba(0, 255, 213, 0.3);
    }

    50% {
        text-shadow: 0 0 12px rgba(0, 255, 213, 1),
            0 0 28px rgba(0, 255, 213, 0.7),
            0 0 40px rgba(0, 255, 213, 0.5);
    }
}

/* Expansion légère (effet impact) */
@keyframes scalePulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.06);
    }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Balayage lumineux */
.animated-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 50%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.6) 50%,
            transparent 100%);
    animation: shine 2.8s ease-in-out infinite;
}

/* Animation du balayage */
@keyframes shine {
    0% {
        left: -150%;
    }

    50% {
        left: 180%;
    }

    100% {
        left: 180%;
    }
}


/** Responsive **/
@media only screen and (max-width: 1040px) {
    .hero .container {
        flex-flow: column;
        gap: 80px;
    }

    .about-both {
        flex-flow: column-reverse;
        text-align: center;
    }

    .projets {
        flex-flow: column;
    }

    .skill-both {
        flex-flow: column;
        gap: 50px;
    }
}

@media only screen and (max-width: 780px) {
    .topbar {
        position: absolute;
    }

    .cache-phone {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .topbar-links {
        position: absolute;
        top: 90px;
        right: 0;
        min-width: 45%;
        max-width: 300px;
        background: var(--light);
        margin: 0 auto;
        min-height: 320px;
        border-radius: 0px 0px 20px 20px;
        border-bottom: 2px solid #00000071;
        border-left: 2px solid #00000071;
        text-align: center;
        color: var(--dark);
    }

    .topbar-links .nav-topbar {
        flex-flow: column nowrap;
        margin: 0 auto;
        justify-content: space-evenly;
        font-weight: 700;
    }

    .topbar-links.open {
        display: flex;
        animation: slideIn 0.5s ease forwards;
    }

    .topbar-links li {
        display: block;
        padding: var(--pf-size);
        border-bottom: 1px solid #555;
    }

    .hero-text {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 780px) {
    .form {
        width: 100%;
    }

    .soft, .hard {
        width: 100%;
    }

    .footer .container {
        flex-flow: column;
        gap: 15px;
        text-align: center;
        padding: 10px 0;
        height: auto;
    }
}